body {
    font-family: Arial, sans-serif;
    background-color: #272626 !important;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin-top: 150px;
    background-color: #388143;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

